# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.tfvars
*.tfvars.json
# Plan files
*.plan
tfplan
